hydra-core
grpcio
google-api-python-client
pandas
scipy
scikit-learn
pyyaml
ConfigSpace==1.2.1
psutil
regex
grpcio-tools
jpype1
dacite
pympler
jaydebeapi
setuptools==69.5.1
ray[defualt]==2.9.3
omegaconf>=2.2,<2.4
six
attrs
docker
netifaces